<div class="d-flex mt-5 mb-2">
	<h1 class="h4 me-auto">已停用<%%= resource_name %><%%= I18n.t("text.index") %></h1>

	<%%= link_to index, class: "d-print-none float-end text-center btn btn-link btn-with-icon ms-2" do %>
		<i class="material-icons">arrow_back</i> 返回
	<%% end %>
</div>

<%%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>