<div class="d-flex mt-5 mb-2">
	<h1 class="h4 me-auto"><%%= resource_name %><%%= I18n.t("text.index") %></h1>

  	<a href="#advanceSearch" class="d-print-none float-end text-center btn btn-light btn-with-icon" data-bs-toggle="collapse" data-turbo="false"><i class="material-icons">filter_alt</i><%%= I18n.t("text.filter") %></a>

	<%%= link_to export, class: "d-print-none float-end text-center btn btn-light btn-with-icon ms-2" do %>
		<i class="material-icons">get_app</i><%%= I18n.t("text.export") %> csv
	<%% end %>

	<%%= link_to archive, class: "d-print-none btn btn-light btn-with-icon ms-2" do %>
		<i class="material-icons">delete</i> 已停用列表
	<%% end %>
</div>

<div class="w-100 d-print-none mb-4 collapse <%%= 'show' if params[:q].present? %>" id="advanceSearch">
	<div class="card w-100">
		<div class="card-body">
			<%%= render "filter" %>
		</div>
	</div>
</div>