<!-- 設定新密碼信件已寄出頁面 -->

<section class="resets-show__sent">
    <h2 class="g-title-h2 sent__title">設定新密碼信件已寄出</h2>
    <p class="sent__notice">我們已向您發送了一封 Email，其中包含要設定新密碼的步驟，可能要花一些時間才會出現在收件夾中</p>
    <a class="sent__signin-link" href="<%= sign_in_path %>">
        <div class="g-normal-btn">返回登入頁</div>
    </a>
</section>
<img class="resets-show__bg" src="<%= asset_pack_path 'media/images/resets-show/resets-show_bg@2x.png' %>" alt="reset passwords email sent bg">
