<!-- 註冊確認信已寄出頁面 -->

<section class="confirmations-new__send">
    <h1 class="g-title-h1 send__title">確認信已寄出</h1>
    <p class="send__detail">我們已向您發送一封確認 Email 的信<br>件，可能要花一些時間才會出現在收件夾<br>中，請至信箱收信並確認。</p>
    <a class="send__sign-in-link" href="<%= sign_in_path %>">
        <div class="g-arrow-btn">會員登入
            <img class="g-arrow-white" src="<%= asset_pack_path 'media/images/arrow_white.svg' %>" alt="icon arrow">
        </div>
    </a>
</section>