<!-- 重設密碼信成功頁面 -->

<section class="passwords-show__success">
    <h2 class="g-title-h2 success__title">設定新密碼成功</h2>
    <a class="success__signin-link" href="<%= sign_in_path %>">
        <div class="g-arrow-btn">立即登入
            <img class="g-arrow-white" src="<%= asset_pack_path 'media/images/arrow_white.svg' %>" alt="icon arrow">
        </div>
    </a>
</section>
