<%%= search_form_for [:<%= options[:namespace] %>, @q] do |f| %>
	<div class="form-row">
    <div class="form-group col-12">
      <%%= f.label @nav_search_symbol, I18n.t("text.filter.#{@nav_search_symbol.to_s}") %>
      <%%= f.search_field @nav_search_symbol, class: "form-control" %>
    </div>


    <!-- 日期類型 -->
    <%% if false %>
    <div class="form-group col-lg-3 col-sm-4 col-xs-6">
      <%%= f.label :created_at_gteq, "從" %>
      <%%= f.date_field :created_at_gteq, value: params[:q].try(:[], :created_at_gteq), max: params[:q].try(:[], :created_at_lteq) || (Time.zone.today - 1.day).strftime("%F"), class: "form-control form-control-sm" %>
    </div>
    <%% end %>

		<!-- 單選 btn groups -->
		<%% if false %>
    <div class="form-group col-12">
      <div class="btn-group btn-group-toggle mt-3 pr-md-3" data-toggle="buttons">
        <%% Notebook.all.pluck(:name, :id).map do |name, id| %>
          <label class="btn <%%= id.to_s == params[:q].try(:[], :notebook_id_eq) ? 'btn-primary active' : 'btn-secondary' %>">
            <%%= radio_button_tag 'q[notebook_id_eq]', id, id.to_s == params[:q].try(:[], :notebook_id_eq) %> <%%= name %>
          </label>
        <%% end %>
      </div>
    </div>
    <%% end %>
  </div>
  <%%= link_to I18n.t("text.clear"), admin_<%= plural_table_name %>_path, class: "btn btn-link text-danger btn-sm" %>
  <%%= f.submit I18n.t("text.apply"), class: "btn btn-secondary float-right btn-sm" %>
<%% end %>